<div id="fade"></div>
<a id="slide" class="animated fade"></a>
<aside id="sidebar">
    <nav id="navigation">
    <h2>MENU</h2>
    <hr>
{% for link in site.links %}
            <li>{% if link.external %}
                    <a href="{{ link.url }}">{{ link.title }}</a>
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                {% endif %} </li>
{% endfor %}            
           <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
    </nav>
    
    
</aside>

<header id="masthead" itemscope itemtype="http://schema.org/Organization">
{% if site.search %}
    <button class="menu-button animated fade dosearch">
        <i class="icon-search"></i>
    </button>
{% endif %}

</header>