{% if page.category_filter %}
    {% assign categories_list = site.categories %}  
    {% assign posts = nil %}

    {% if categories_list.first[0] == null %}
    {% else %}
        {% for category_tmp in categories_list %} 
            {% if category_tmp[0] == page.category_filter %}
                {% assign posts = category_tmp[1] %}  
             {% endif %}
        {% endfor %}
    {% endif %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body class="home-template" itemscope itemtype="http://schema.org/WebPage">
{% include header.html %}

<div id="main" class="content" role="main" itemprop="mainContentOfPage">

    <div class="menu">
        <ul>
        {% for link in site.links %}
            <li>{% if link.external %}
                <a href="{{ link.url }}">{{ link.title }}</a>
            {% else %}
                <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
            {% endif %} </li>
        {% endfor %}   
        </ul>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="page-body" itemprop="description">
    {{content}}
   {% for post in posts %}
        {% if post.categories contains 'documentation' and page.category_filter %}
            {% include post-listing.html %}
        {% else %}
        {% unless post.categories contains 'documentation' %}
            {% include post-listing.html %}
        {% endunless %}
        {% endif %}
    {% endfor %}
            </div>    
        </div>
    </div>
</div>

{% include scripts.html %}  
</body>
</html>